<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/fontawesome-free-5.15.1-web/css/all.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <i class="fas fa-meteor"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <h4>Raul Pichardo </h4>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <i class="far fa-user-circle"></i>
        </div>
    </nav>

    <!-- bs js -->
    <!-- <script src="../public/js/bootstrap.min.js"></script> -->
    <script src="../public/js/projectMain.js"></script>

</body>

</html>


<!-- https://bootswatch.com/darkly/ -->