<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="../public/css/scrum-main.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <i class="fas fa-meteor"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <h4>Raul Pichardo </h4>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li>
                    <button type="button" id="sidebarCollapse" class="btn btn-primary"> 
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </li>
            </ul>
            <i class="far fa-user-circle"></i>
        </div>
    </nav>

    <!-- SIDEVAR -->
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../public/img/solar-system.svg);"></a>

                <p id="projectName">

                </p>

                <ul class="list-unstyled components mb-5">

                    <li class="active">
                        <a href="#">Statistics</a>
                    </li>
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>


                </ul>
            </div>
        </nav>

        <!-- LOAD DYNAMIC HTML HERE BELOW -->
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

        </div>
    </div>


    <!-- <script src="../public/js/bootstrap.min.js"></script> -->
    <script src="../public/js/scrum-main.js"></script>

    <script src="../public/js/bootstrap.min.js"></script>

</body>

</html>

<!-- https://bootswatch.com/darkly/ -->