* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

nav>a {
    cursor: default;
}

.box-main-text {
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
}


/* ICONS */

i {
    font-size: 2em;
}

.fa-space-shuttle {
    font-size: 0.7em;
}


/* CARDS FOR SHOWING PROJETS */

.card {
    padding: 0 !important;
    padding-bottom: 5% !important;
}

#box-show-projects {
    width: 70%;
}

.row {
    margin-bottom: 2%;
}

.card {
    margin-left: 3%;
}

.card:first-child {
    margin-left: 10%;
}

.card-title {
    font-size: 1.2em;
    text-transform: uppercase;
}

.card-date {
    font-size: 0.9em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
}


/* CARD FOR PROJECT */

#box-show-projects .row .card-project:hover {
    cursor: pointer;
    background-color: rgba(232, 232, 232, 0.2) !important;
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.wrapper {
    width: 100%;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

#sidebar {
    border-top: 0.1px solid rgba(255, 255, 255, 0.1);
    min-width: 300px;
    max-width: 300px;
    background: #303030 !important;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

#sidebar .logo span {
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #f8b739;
}

#sidebar ul li.active>a {
    background: transparent;
    color: #f8b739;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rounded-circle {
    border-radius: 50% !important;
}

.collapse:not(.show) {
    display: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
