* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.4);
}

nav>a {
    cursor: default;
}

.box-main-text {
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
}


/* ICONS */

i {
    font-size: 2em;
}

.fa-space-shuttle {
    font-size: 0.7em;
}

.card {
    padding: 0 !important;
    padding-bottom: 5% !important;
}

#box-show-projects {
    width: 70%;
    margin-left: 15%;
}

.row {
    margin-bottom: 2%;
}

.col-6 {
    width: 40% !important;
    flex: none !important;
}

.col-6:first-child {
    margin-right: 10%;
}

.col-6:last-child {
    margin-left: 10%;
}