<div class="box-title">

    <div class="row">
        <div class="col-1">
            <h3>Backlog <span class="backlogTitlte"></span> </h3>
        </div>

        <!-- ADD BTN -->
        <div class="col-2">
            <button id="createNewTaskBtn" type="button" class="btn btn-success">
                <i class="fas fa-plus addIcon"></i> New Item
            </button>
        </div>

        <!-- <div class="col-2">
            <button id="backLogSettingsBtn" type="button" class="btn btn-secondary"> 
                <i class="fas fa-cog settings"></i>  Settings
            </button>
        </div> -->

        <!-- FILTER BTN -->
        <div class="col-2">
            <button id="filterBackLogBtn" type="button" class="btn btn-secondary">
                <i class="fas fa-filter filterIcon"></i>
            </button>
        </div>

        <!-- SAVE BTN -->
        <div class="">
            <button id="saveIconBtn" type="button" class="btn btn-info">
                <i class="fas fa-save"></i>
            </button>
        </div>

    </div>

</div>

<!--  CONTAINER -->
<div class="container-fluid backlog-boxs">
    <div class="row">
        <h2>HERE</h2>
    </div>
</div>