<div class="box-title">

    <nav class="navbar navbar-expand-lg">
        <h1 class="navbar-brand" id='box-title-title'>Backlog </h1>

        <div class="collapse navbar-collapse" id="navbarColor01" style="margin-left: 2%;">

            <ul class="navbar-nav mr-auto">
                <button id="createNewTaskBtn" type="button" class="btn btn-success" data-toggle="modal"
                    data-target="#create-task">

                    <i class="fas fa-plus addIcon"></i> New Item
                </button>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item backlog-nav-item">
                        <button id="backlog-filter-btn" type="button" class="btn btn-secondary">
                            <i class="fas fa-filter filterIcon"></i>
                        </button>
                    </li>

                    <li class="nav-item backlog-nav-item">
                        <button id="backlog-save-icon-btn" type="button" class="btn btn-info">
                            <i class="fas fa-save"></i>
                        </button>
                    </li>

                    <!-- Adding extra spaces -->
                    <li class="nav-item">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>

<!--  CONTAINER -->
<div class="container-fluid backlog-boxs">
    <div class="row">
        <div class="col">
            <table class="table table-hover">

                <thead>
                    <tr class="table-primary">
                        <th scope="row">Story ID</th>
                        <td>Assigned To</td>
                        <td>Title</td>
                        <td>Priority</td>
                        <td>State</td>
                        <td>Points</td>
                        <td>Tag</td>

                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>

                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>

                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>

                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>

<!-- MODAL TO CREATE A TASK -->
<div class="modal fade" id="create-task" tabindex="-1" role="dialog" aria-labelledby="add-task-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="createNewTaskItem" style="width: 30%;">Create New Task Item <i
                            class="fas fa-plus addIcon"></i> </h5> &nbsp; &nbsp;
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form>
                        <fieldset>


                            <div class="form-group">
                                <label for="itemTitle">Item Title*</label>
                                <input type="text" class="form-control" id="itemTitle" placeholder="Enter title">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                <small id="itemTitleErrMsg" class="text-danger invisible">Invalid Title, please try again. Title must have characters and be > 3 characters</small>
                            </div>

                            <div class="form-group">
                                <label for="itemDescription">Item Description</label>
                                <textarea class="form-control" id="itemDescription" rows="3"
                                    placeholder="Enter description"></textarea>
                                <small class="form-text text-muted">
                                    Description should be less than 500 characters
                                </small>

                            </div>

                            <div class="form-group">
                                <label for="itemPriority">Select Priority*</label>
                                <select class="form-control" id="itemPriority">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <small id="itemPriorityErrMsg" class="text-danger invisible">Invalid option, please try again.</small>

                            </div>

                            <div class="form-group">
                                <label for="itemPoints">Item Points*</label>
                                <input type="number" class="form-control" id="itemPoints" placeholder="Enter Points">
                                <small class="form-text text-muted">
                                    Points should be: 1, 2, 3, 5, 8, 11, 15, 21 ...
                                </small>
                                <small id="itemPointsErrMsg" class="text-danger invisible">Invalid option, Only positive numbers are allowed. (n <= 50)</small>

                            </div>

                            <div class="form-group">
                                <label for="itemTags">Select Tags</label>
                                <select multiple class="form-control" id="itemTags">
                                    <option value="1">TBA</option>
                                    <option value="2">Development</option>
                                    <option value="3" selected>Production</option>
                                    <option value="4">Fix</option>
                                    <option value="5">Bug</option>
                                </select>

                                <small class="form-text text-muted">
                                    You can select multiple values
                                </small>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="btnCancelRemoveUser" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="btnCreateItemTask" type="button" class="btn btn-success">
                        Create
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>